<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kishan Patel{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'myself/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
  <ul class="leftmenu">
  				  <div class="nametag"><div class="logo">Kishan Patel<span>Innovation . Dedication</span></div></div>
                    <li class="myself"><a class="active" href="#homepage"> Myself</a></li>
                    <li class="skillset"><a href="#skillsetpage"> Skill Set</a></li>
                    <li class="projects"><a href="#projects"> Projects</a></li>
                    <li class="workex"><a href="#workex"> Work Experience</a></li>
                    <li class="resume"><a href="#resume"> Resume</a></li>
                    <div class="links">&nbsp&nbsp
                      <a href="https://www.instagram.com/kishan_p29" target="_blank"><i class="fa fa-instagram" style="font-size:36px; color:#111111"></i></a>
                      &nbsp<a href="https://www.facebook.com/people/Kishan-Patel/100003783286645" target="_blank"><i class="fa fa-facebook-square" style="font-size:36px;color:#3b5998"></i></a>
                      &nbsp<a href="https://github.com/kishanp1" target="_blank"><i class="fa fa-github" style="font-size:36px; color:#111111"></i></a>
                      &nbsp<a href="https://www.linkedin.com/in/kishanpatel29/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px;color:#0077B5"></i></a>
                    </div>
                </ul>

  {% block body %}
  {% endblock %}
  </body>
  </html>
