{% extends 'myself/base.html' %}
{% block body %}
<div class="homepage">
	<div class="myimg"><img src="/static/images/testing1.jpg"></div>
	<div class="intro"><h1 class="hi">Hi there!</h1> My name is Kishan Patel and I am a computer science enthusiast. Welcome to my django powered website which is
	under construction, Apparently! For the time being you can know and contact me at <a class="linkedin" href="https://www.linkedin.com/in/kishanpatel29/" target="_blank">My linked in profile</a>
	Thank you.</div>
</div>
{% endblock %}
