
/*----------------left menu bar--------------*/

.leftmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
	background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;

}
li a {
    display: block;
	height:20%;
    color: #000;
    padding-left:10%;
    padding-top:5%;
	padding-bottom:5%;
	text-decoration: none;
	font-size:18px;
	background-color: #808080;
	border-style:solid;
	border-width: 1px 0 0 0;
}
li a.active {
    background-color: #ff6600;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
	color: white;
}

.nametag
{
	background-image:url("/static/images/menubg.png");
	background-color:#3a3430;
	height: 43%;
	background-size:cover;
	padding-top:20%;
}

.logo {
  height: 60%;
  padding: 25px 20px 20px 70px;
	font-size:210%;
	position: relative;
  background: rgba(255, 255, 255, 0.5);
	font-weight: 600;
}
.logo span{
	font-size:15px;
	display:block;
}
.myself
{
	border-left-style:solid;
	border-left-color:#38a9e3;
	border-left-width:5px;
}
.skillset
{
	border-left-style:solid;
	border-left-color:#ff6666;
	border-left-width:5px;
}
.projects
{
	border-left-style:solid;
	border-left-color:#ffff80;
	border-left-width:5px;
}
.workex
{
	border-left-style:solid;
	border-left-color:#00cc00;
	border-left-width:5px;
}
.resume
{
	border-left-style:solid;
	border-left-color:#8c1aff;
	border-left-width:5px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*----------------homepage------------*/

.homepage
{
	background-image:url("/static/images/homepage.jpg");
	background-size:cover;
	height: 100vh;
  padding-left: 100px;
  background-position: 10px;
}

.myimg
{
  position:absolute;
	margin-top:8%;
	margin-left:40%;
 float: left;
}
.myimg img
{
   height: 25%;
   width: 25%;
   border:1px solid #021a40;

}
.intro
{
	margin-left:20%;
	padding-top:25%;
	font-size: 120%;
	font-weight: bold;
}
h1.hi
{
	font-size: 200%;
	font-weight: bold;
}
a.linkedin
{
	color:	#0000FF;
}
